:root {
    --branco-principal: #000000;
    --cinza-secundario: #00000018;
    --botao-azul: #167BF7;
    --cor-de-fundo: #000000;
}
body {
    background-color: var(#ff0000);
    color: var(#0db6e0);
}* {
    margin: 0;
    padding: 0;
}

.principal {
    background-image: url("");
}.container .principal {
    height: 200vh;
    color:#ce0c9d
}
.principal {
    background-image: url("background.png");
    background-repeat: no-repeat;
    background-size: 20;
}
.container__botao {
    background-color: var(#00fc00);
    border-radius: 5px;
    padding: 1em;
    color: var(#0de00d);
    display: block;
}
.container {
    height: 100vh;
    display: grid;
grid-template-columns: 50% 50%;
}.botao_secundario {
    background-color: #8b4308;
    border: 2px solid var(#a31780)
}
