:root {
    --branco-principal: #FFFFFF;
    --cinza-secundario: #C0C0C0;
    --botao-azul: #167BF7;
    --cor-de-fundo: #000000;
}
body {
    background-color: var(#000000);
    color: var(#0db6e0);
}* {
    margin: 0;
    padding: 0;
}

.principal {
    background-image: url("");
}.container {
    height: 200vh;
    color:#ce0c9d
}
.principal {
    background-image: url("background.png");
    background-repeat: no-repeat;
    background-size: contain;
}
.container__botao {
    background-color: var(#00fc00);
    border-radius: 5px;
    padding: 1em;
    color: var(#0de00d);
    display: block;
}
